body {
  padding: 20px;
  font-family: Helvetica;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-40105.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bubble {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
  margin: 0 auto 20px;
  width: 80%;
  max-width: 400px;
  min-width: 160px;
}
button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
button.delete {
  border: 1px solid red;
  background: none;
  padding: 7px 13px;
  color: red;
}
button.delete.confirm {
  padding: 8px 14px;
  border: none;
  background: red;
  color: white;
}
input.styled {
  border: none;
  padding: 7px 12px 7px 19px;
  font-size: 9.9pt;
  color: #555;
  font-family: Monaco;
  border-bottom: 1px solid #ccc;
}
.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  border: none;
  font-family: Monaco;
  font-size: 9.9pt;
  resize: none;
  line-height: 1.5;
  display: inline-block;
  min-height: 19.8px;
}
.textarea[contenteditable]:focus {
  outline: 0px solid transparent;
}
.textarea div {
    font-size: 9.9pt;
    line-height: 1.7;
}
.textarea .h1, .textarea .h2 {
    font-weight: 600;
}
.textarea .h1 {
    margin-left: -16px;
}
.textarea .h2 {
    margin-left: -24px;
}
.textarea .ol:before {
    content: attr(data-count) ".";
}
.textarea .ul {
    margin-left: -16px;
}
.pull-right {
  float: right;
}
button.pull-right {
  margin-left: 10px;
}
.bubble {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
}
.bubble input[name=search] {
  display: none;
}
.bubble button {
  display: none;
}
.bubble.active, .bubble.search {
  background: #fff;
}
.bubble.active button.update,
.bubble.active button.delete,
.bubble.active.fresh button.save {
  display: initial;
}
.bubble.active .textarea {
  max-height: initial;
  overflow-y: initial;
  margin-bottom: 20px;
}
.bubble.new {
  background: #fff;
}
.bubble.new button.new {
  display: initial;
}
.bubble.new button {
  display: none;
}
.bubble.new input[name=search] {
  display: initial;
}
.bubble.new .textarea {
  display: none;
}
.bubble.fresh {
  background: #fff;
}
.bubble.fresh button.update,
.bubble.fresh button.delete,
.bubble.fresh button.delete {
  display: none;
}
.bubble.search {
  display: none;
  font-family: Monaco;
  font-size: 9.9pt;
  line-height: 1.5;
}
.bubble.search.active {
  display: block;
}
.bubble.search .result {
  padding: 10px 20px 10px;
  cursor: pointer;
}
.bubble.search h1 {
  padding: 0 20px;
  font-size: 10pt;
}